:root {
  font-family: monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  overflow-x: hidden;
}

code {
  background-color: #242424;
  /* Light grey background for inline code */
  padding: 2px 4px;
  /* Padding around inline code */
  border-radius: 3px;
  /* Rounded corners */
}

pre {
  background-color: #242424;
  /* Slightly darker background for code blocks */
  padding: 10px;
  /* Padding for code blocks */
  border-left: 5px solid #007bff;
  /* Blue left border */
}

p {
  margin: 0.1rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}